<div class="ui container student__list">

    <div class="ui grid">
        <div class="eight wide column">
            <h3 class="ui header section__heading">
                List of All Students
            </h3>
        </div>
        <div class="eight wide column">
            <div class="right__aligned">
                <button [routerLink] = '["/edit", "000New"]' class="circular ui icon big violet button">
                    <i class="icon plus"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui stacked segment make__small">
        <div class="ui middle aligned divided list" *ngIf="serverData.length > 0">
            <div class="item" *ngFor="let student of serverData;">
                <div class="right floated content">
                    <button class="ui icon button" [routerLink]="['/edit', student.uid]">
                        <i class="edit icon"></i>
                    </button>
                    <button class="ui icon red button" (click)="removeUser(student.uid)">
                        <i class="remove icon"></i>
                    </button>
                </div>
                <img class="ui avatar image" src="{{'/assets/img/'+student.avt}}">
                <div class="content">
                    <h3>{{student.fname}} {{student.lname}}</h3> from {{ schoolMapping[student.school] }}
                </div>
            </div>            
        </div>
    </div>

</div>