<div class="ui container student__list">

    <div class="ui grid">
        <div class="eight wide column">
            <h3 class="ui header section__heading">
                Add/Edit Students
            </h3>
        </div>
        <div class="eight wide column">
            <div class="right__aligned">
                <button [routerLink] = '["/list"]' class="circular ui icon big grey button">
                  <i class="remove icon"></i>
                </button>
                <button class="circular ui icon big green button" (click)="submitData();">
                    <i class="checkmark icon"></i>
                </button>                
            </div>
        </div>
    </div>
    <div class="ui divider"></div>

    <form novalidate [formGroup]="studentForm">
    <div class="ui stacked segment">
        <div class="ui grid">
            <div class="four wide column">
                <div class="center__aligned">
                    <img class="ui avatar image student__avatar" src="/assets/img/{{studentForm.controls['avt'].value}}">
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui form form__container">
                    
                    <div class="inline fields">
                        <div class="eight wide field">
                            <label>Name</label>
                            <input type="text" placeholder="First Name" formControlName="fname">
                        </div>
                        <div class="five wide field">
                            <input type="text" placeholder="Last Name" formControlName="lname">
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="ten wide field">
                            <label>School</label>
                            <select class="ui fluid dropdown" formControlName="school">
                                <option value="delhi">Delhi Public School</option>
                                <option value="greenwood">Greenwood High International School</option>
                                <option value="inventure">Inventure Academy</option>
                            </select>
                        </div>
                        <div class="three wide field">
                            <select class="ui fluid dropdown" formControlName="gender">
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select>
                        </div>
                    </div>

                    <div class="inline fields">
                        <div class="ten wide field">
                            <label>Sl.No</label>
                            <input type="text" placeholder="Serial Number" formControlName="uid">                            
                        </div>
                    </div>
                    <div class="error__msg elm__block" *ngIf="studentForm.controls['uid'].dirty && studentForm.controls['uid'].invalid">
                        It must be 8 Charecters & First Charecter should letter.
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>

</div>
